@using JobBoards.Models;

<h1>Job Openings</h1>
@if (Model.Count == 0)
{
    <h1>There are no job postings available. Go pan handle.</h1>
}
<ul> @foreach (JobBoard job in Model)
    {
        <li>@job.JobTitle, @job.CompanyName, @job.JobDescription, @job.NameOfContactee, @job.ContactEmail, @job.ContactPhone</li>
    }
</ul>
<a href="/listings/new">Make another job listing</a>
<br>
<a href="/">Return to Homepage</a>
<form action="/listings/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>